body {
    padding: 50px 0;
    background-color: #101010;
}

* {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
}

/* Start of Header CSS */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    padding: 15px 0;
}
.headerChild{
    margin: 0 20px;
    font-size: 35px;
    font-weight: 700;
}

.headerChild:hover{
    transform: scale(1.5,1.5);
}
a:hover{
    color: #f9004d;
}
/* End Of Header CSS */

.Title{
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.Title:hover{
    color: #f9004d;
    border-bottom: 1px solid #f9004d;
}

.Task{
    border-bottom: 1px solid white;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Solution{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Start of Task 4 CSS Solution */
#Task4{
    height: 440px;
}

.Solution4{
    background-color: #FFCC00;
    width: 500px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0;
}

.hover{
    position: relative;
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: auto; */
    padding: 10px;
    width: fit-content;
}

.hover::before{
    content: "";
    position: absolute;
    left: -10px;
    bottom: 3px;
    width: 70px;
    height: 50px;
    /* box-sizing: border-box; */
    border-left: 6px solid white;
    border-bottom: 6px solid white;
    transition: all 0.8s;
}

.hover::after{
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 70px;
    height: 50px;
    /* box-sizing: border-box; */
    border-right: 6px solid black;
    border-top: 6px solid black;
    transition: all 0.5s;
}

.container:hover .hover::after{
    width: 365px;
    height: 190px;
}
.container:hover .hover::before{
    width: 370px;
    height: 160px;
}
.container:hover .hover{
/*     color: #6D1DE3; */
    color: red;
}
/* End of Task 4 CSS Solution */

/* Start of Task 5 CSS Solution */

#Task5{
    height: fit-content;
}

.Solution5{
    margin-bottom: 50px;
}

.Title5{
    margin-bottom: 100px;
}

.blueBody{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #1184e8;
    /* background-color: #2E88B6; */
    margin: auto;
    padding: 40px 40px 40px 33px;
}

.DarkBlue{
    width: 385px;
    height: 385px;
    background-color: blue;
    border: 7px solid black;
    border-radius: 50%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 10px;
}

.White{
    background-color: white;
    width: 375px;
    height: 375px;
    border-radius: 50%;
}

.Brown{
    background-color: #f7cf6c;
    box-shadow: 0 15px 20px 2px rgb(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.column{
    height: 95%;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5% 0;
}
.row{
    width: 95%;
    height: fit-content;
    /* transform: rotate(90deg); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.5%;
    top: -210px;
    position: relative;
}

.center{
    background-color: transparent;
    border: 5px solid #f7cf6c;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    top: -265px;
    left: 162px;
    z-index: 2;
}

.hours{
    width: 25px;
    height: 32%;
    background-color: #f7cf6c;
    position: relative;
    top: -420px;
    left: 132px;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(-31deg);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.mints{
    width: 25px;
    height: 32%;
    background-color: #f7cf6c;
    position: relative;
    top: -420px;
    left: 242px;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(-231deg);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.seconds{
    width: 5px;
    height: 32%;
    background-color: #f7cf6c;
    position: relative;
    bottom: 522px;
    left: 139px;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(-151deg);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 2;
}

.FwhiteLeg{
    width: 35px;
    height: 15%;
    background-color: white;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(211deg);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.LwhiteLeg{
    width: 35px;
    height: 15%;
    background-color: white;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(-211deg);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.rowWhite{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.LwhiteHead{
    width: 80px;
    height: 12%;
    background-color: white;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(-211deg);
}

.RwhiteHead{
    width: 80px;
    height: 12%;
    background-color: white;
    box-shadow: 0 0px 8px 0px rgb(0 0 0 / 50%);
    transform: rotate(211deg);
}

.LBlueHead{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 150px;
    height: 12%;
    background-color: #1184e8;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(-211deg);
}

.RBlueHead{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 150px;
    height: 12%;
    background-color: #1184e8;
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: rotate(211deg);
}
/* End of Task 5 CSS Solution */
